.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid #bdbdbd;
  text-align: center;
  background: rgb(250, 250, 250);

  .login-container {
    width: 350px;
    height: 350px;
    padding: 0 40px;
    border: 1px solid silver;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .westagram-logo {
      font-size: 45px;
      font-family: "Lobster",
        cursive;
    }

    .login-form {

      .login-input {
        width: 100%;
        height: 38px;
        font-size: 12px;
        padding: 0 20px;
        margin-bottom: 10px;
        border: 1px solid silver;
        box-sizing: border-box;
        border-radius: 5px;
        background: rgba(238, 238, 238, 0.534);
        color: #929292;
        outline: 0;
      }

      .login-btn {
        display: block;
        width: 100%;
        height: 32px;
        margin-top: 10px;
        border-radius: 5px;
        color: #fff;
        background: #b2dffc;
        border: 1px solid #b2dffc;
      }

      .login-btn--active {
        width: 100%;
        height: 32px;
        margin-top: 10px;
        border: 1px solid #0095f6;
        border-radius: 5px;
        background: #0095f6;
        color: #fff;
      }
    }

    color: #0f5086;

    .singUp {
      font-size: 12px;
      color: #0f5086;

      a {
        color: #0f5086;
        text-decoration: none;
      }
    }

    // -- singUp
  }

  //-- login-container
}